[user]
	name = toshi32tony3
	email = toshi32tony3@gmail.com
[core]
	autocrlf = true
	editor = gvim
[push]
	default = simple
[diff]
	tool = vimdiff
	algorithm = histogram
[merge]
	tool = gvimdiff3
[mergetool "gvimdiff3"]
	cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
	prompt = false
	keepBackup = false
